.selection-container {
    margin: 0 auto;
    padding: 20px;
    color: black;
    text-align: center;
    width: 70vh;
    height: 70vh;
    border-radius: 30px;
    background-color: #d8c9eb;
    overflow: hidden;
}

.selection-container h2 {
    font-size: 30px;
}

.form-group {
    display: block;
    width: 60%;
    margin: 50px auto;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 3px solid rgba(123, 0, 255, 0.26);
    border-radius: 8px;
    font-size: 15px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.63);
    text-align: center;
}

.form-control:focus {
    outline: none;
}

.form-control option {
    outline: none;
}


.input-group {
    display: flex;
}

.input-group .form-control {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-add {
    background-color: rgba(140, 21, 205, 0.77);
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-add:hover {
    background-color: #8c15cd;
}

.btn-add:disabled {
    background-color: rgba(173, 74, 228, 0.38);
    cursor: not-allowed;
}

.btn-primary {
    background-color: #8c15cd;
    color: white;
    width: 50%;
    height: 50px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: rgba(173, 74, 228, 0.38);
}

.btn-primary:disabled {
    background-color: rgba(173, 74, 228, 0.38);
    cursor: not-allowed;
}